*{
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;

}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header{
	background-color: #fff;
	padding-top: 25px;
	
}
.form{
	width: 430px;
	padding-bottom: 50px;

}
.form__input {
    background: #f0f0f0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    width: 370px;
    padding: 19px 14px;
    padding-top: 17px !important;
    /*margin-right:21px;*/
    border: none;
   	height: 36px;
    /*outline: none;*/
}
.form__btn {
    margin-left: -38px;
    margin-top: -2px;
    height: 36px;
       
    border: 0;
    /*padding: 14px 0;*/
    cursor: pointer;
    outline: none;
}
.header__icons{
	padding-top: 23px ;
	min-width: 50px;
}
.icons__item1{
	margin-right: 0px;
	align-content: center;
}
.icons__item2 {
	margin-right: 0px;
	align-content: center;
}
.icons_text{
	font-family: 'Montserrat', sans-serif;
	color: #919191;
	font-size: 14px;
	margin-top: 12px;	
	margin-left: -2px;
	margin-bottom: 35px;
}

.menu {
    /*padding-top:40px;*/
    background-color: #dceef7;
    margin-bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
}

.menu__item {
    margin: 15px 30px;
}

.menu__item a {
	font-family:'Montserrat' ;
    font-size: 16px;
    /*padding-top: 18px;*/
    color: #2f2f2f;
}
.hamburger {
  display: none;
  width: 16px;
  height: 12px;
  float: right;
  margin: 6px;
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.hamburger:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  top: 3px;
  height: 2px;
  background: #000;
}
.card-img-list :hover{
transform: rotate(-15deg);
        
    }
@media screen and (min-width: 768px) and (max-width: 1023px){
  .hamburger {
    display: block;
    margin-top: 10px;
  }
  
  .menu {
    left: -730px;
    margin-left: 41px;
    position: fixed;
    
    
    height: 50px;
    width: 690px;
    transition: .2s;
  }
  
  .menu.open {
  	top: -10px;
    left: -26px;
    display: flex;
    position: absolute;
  }
  
  .menu__item {
    float: none;
    
  }
}
#slider { 
    position: relative;
	text-align: center;
    /*top: 10px;*/
}

#slider{ 
	margin: 0 auto;
}

#slides article{ 
	width: 20%;
	float: left;
}

#slides .image{
	width: 500%;
	line-height: 0;
}

#overflow{ 
	width: 100%;
	overflow: hidden;
}

article img{ 
	width: 100%;
}

#desktop:checked ~ #slider{ размер всего слайдера
	max-width: 1366px; 
}


 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch1:checked ~ #controls label:nth-child(3)
{
	background-image: url('../img/prev.png') !important ;
	float: left;
	
	margin: 25px 0 0 45px; 
	height: 60px;
	width: 32px;
}


#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(1){
	background-image: url('../img/next.png'); 
	float: right;
	
	margin: 25px 45px 0 0; 
	display: block;
	height: 60px;
	width: 32px;
}

label, a{ 
	cursor: pointer;
}

.all input{ 
	display: none;
}


#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}



#controls{ 
	margin: -27% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ 
	background-image: url('../img/label.png');
	border-radius: 10px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	
}

#active{ 
	margin: 21% 0 0;
	text-align: center;
}

#active label:hover{ 
	background: #76c8ff;
	border-color: #777 !important; 
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3){
	
	background-image:  url('../img/active_slide.jpg');
}

#slides .image{ 
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.card-body{
	width: 267px;
	font-family: 'Montserrat';
	font-size: 14px;
	text-align: center;	
	color: #919191;
	padding: 0px !important;

}
.card-title{
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-size: 20px;
	text-align: center;	
	color: #2f2f2f;
	margin-top: 37px;
	margin-bottom: 25px !important;
}
.btn{
	margin-top: 70px;
	border-radius: 0px !important;
	width: 180px;
	height: 42px;
	font-family:'Montserrat' !important; 
	font-size: 14px !important;
	padding-top: 10px !important;
}
.card-body :hover{
	transform: rotate(15deg);
        
}
.vision{
	padding-top: 80px;
	
}
.vision__title{
	text-align: center;
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: bold;
	margin-top: 80px;
}
.vision__text{
	text-align: center;
	font-family: 'Myriad Pro';

	font-size: 16px;
	color: #919191;
	margin-top: 15px;
	margin-bottom: 147px;
}
.slogan{
	margin-bottom: 5px !important;
}

.slogan__title{
	text-transform: uppercase;
	font-family: 'Myriad Pro';
	font-weight: bold;
	font-size: 16px;
	margin-top: 18px;

}
.slogan__text{
	font-family: 'Myriad Pro';
	margin-left: 5px;
	font-size: 16px;
	margin-top: 18px;	

}
.footer__title{
	font-family: 'Montserrat';
	font-weight: bold;
	color: #2f2f2f;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 38px;
}
.footer__text{
	font-family: 'Montserrat';
	color: #919191;
	font-size: 14px;
}
.footer__text1{
	font-family: 'Montserrat';
	color: #919191;
	font-size: 14px;
	color: #000000;
}
.logo-footer{
	padding-top: 40px;
	padding-bottom: 17px;
	display: block;
	margin: auto;
}
.footer-text2{
	font-family: 'Myriad Pro';
	font-size: 12px;
	color: #919191;
	text-align: center;
	padding-bottom: 35px;
}

@media screen and (max-width: 1200px)  {
	.card-list{
		margin-left: 200px;
	}
	.menu__item a{
		font-size: 14px;
	}
	.icons_text{
		font-size: 13px;
	}
	.slogan__title{
		font-size: 14px;
	}
	.slogan__text{
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	.card-list{
		margin-left: 80px !important;
	}
	.vision-hand{
		left: 330px;
		top: -250px !important;
	}
	.footer-list{
		margin-left: 100px;
		margin-bottom: 10px !important;
	}
	.vision{
		padding-top: 20px;
	}
	.form__input{
		width: 300px;
	}
	.menu__item {
    margin: 12px 17px;
	}
	.menu__item a {
    font-size: 12px;
	}
}